language: python
dist: trusty
python:
    - "2.7"
cache: pip
env:
    - CKANVERSION=master
    - CKANVERSION=release-v2.6-latest
    - CKANVERSION=2.7
    - CKANVERSION=2.8
sudo: required
addons:
  postgresql: 9.6
  apt:
    packages:
    - postgresql-9.6-postgis-2.3
services:
    - redis-server
install:
    - bash bin/travis-build.bash
script: sh bin/travis-run.sh
branches:
  except:
    - stable
    - release-v2.0
