recursive-include ckanext/spatial/templates                                           *
recursive-include ckanext/spatial/public                                              *
recursive-include ckanext/spatial/validation/xml                                      *
