[depends]

main = base/main

[groups]

dataset_map =

js/vendor/leaflet/leaflet.js
js/common_map.js
js/dataset_map.js

js/vendor/leaflet/leaflet.css
css/dataset_map.css

spatial_query =

js/vendor/leaflet/leaflet.js
js/vendor/leaflet.draw/leaflet.draw.js
js/vendor/leaflet.fullscreen/Control.FullScreen.js
js/vendor/leaflet.ajax/leaflet.ajax.min.js
js/common_map.js
js/spatial_query.js

js/vendor/leaflet/leaflet.css
js/vendor/leaflet.draw/leaflet.draw.css
js/vendor/leaflet.fullscreen/Control.FullScreen.css
css/spatial_query.css

# spatial_form section based on work by Florian Mayer
https://github.com/florianm/ckanext-spatial/blob/master/ckanext/spatial/public/resource.config
spatial_form =

js/vendor/leaflet/leaflet.js
js/vendor/leaflet.draw/leaflet.draw.js
js/vendor/leaflet.fullscreen/Control.FullScreen.js
js/vendor/leaflet.ajax/leaflet.ajax.min.js
js/common_map.js
js/spatial_form.js

js/vendor/leaflet/leaflet.css
js/vendor/leaflet.draw/leaflet.draw.css
js/vendor/leaflet.fullscreen/Control.FullScreen.css
css/spatial_query.css
