[IE conditional]

lte IE 8 =
    js/vendor/leaflet/leaflet.ie.css


[depends]

main = base/main

[groups]

dataset_map =

    js/vendor/leaflet/leaflet.js
    js/common_map.js
    js/dataset_map.js

    js/vendor/leaflet/leaflet.css
    css/dataset_map.css

spatial_query =

    js/vendor/leaflet/leaflet.js
    js/vendor/leaflet.draw/leaflet.draw.js
    js/common_map.js
    js/spatial_query.js

    js/vendor/leaflet/leaflet.css
    js/vendor/leaflet/leaflet.ie.css
    js/vendor/leaflet.draw/leaflet.draw.css
    js/vendor/leaflet.draw/leaflet.draw.ie.css
    css/spatial_query.css

wms =

    js/vendor/openlayers/OpenLayers_wms_preview.js

    js/wms_preview.js

    css/wms_preview.css

geojson =
    js/vendor/leaflet/leaflet.js
    js/vendor/leaflet/leaflet.css

    js/common_map.js
    js/geojson_preview.js
    css/geojson_preview.css
