<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="page_title">${c.pkg.title or c.pkg.name} - WMS preview</py:def>

  <py:def function="optional_head">
    <link type="text/css" rel="stylesheet" media="all" href="/ckanext/spatial/css/wms_preview.css" />
  </py:def>
   <py:def function="optional_footer">
        <link type="text/css" rel="stylesheet" media="all" href="/ckanext/spatial/css/wms_preview.css" />
        <script type="text/javascript" src="/ckanext/spatial/js/openlayers/OpenLayers_wms_preview.js"></script>
        <script type="text/javascript" src="/ckanext/spatial/js/wms_preview.js"></script>
      <script type="text/javascript">
        //<![CDATA[
        $(document).ready(function(){
            CKAN.WMSPreview.setup("${c.wms_url}");
        })
        //]]>
      </script>

  </py:def>
 
<div py:match="content">
  <div class="map-view-content">
    <h2 class="head">
      ${c.pkg.title}
    </h2>
    
    <!-- Source URL -->    
    <div class="url" py:if="c.wms_url">
      <p>
        Source: <a href="${c.wms_url}" target="_blank">${c.wms_url}</a>
      </p>
    </div>
    <p>
    <a
      href="/dataset/${c.pkg.name}"
      title="Dataset Details">
      Dataset details</a>
    </p>
      <div class="package subsection">
      <h3>WMS preview</h3>
    <div id="map"></div>
    <div id="layers"></div>
    </div>
  </div>
</div>
<xi:include href="../../layout.html" />
</html>
