{% if map_config.type == 'custom' %}
  <div>{{ map_config.attribution|safe }}</div>
{% elif map_config.type == 'wms' %}
  <div>{{ map_config['wms.attribution']|safe }}</div>
{% else %}
  <div>Map data &copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors</div>
  {% if map_config.type == 'mapbox' %}
    <div>Tiles by <a href="http://www.mapbox.com/about/maps/">MapBox</a></div>
  {% else %}
    <div>Tiles by <a href="http://stamen.com">Stamen Design</a> (<a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>)</div>
  {% endif %}
{% endif %}

