{% if map_config.type == 'custom' %}
  <div>{{ map_config.attribution|safe }}</div>
{% elif map_config.type == 'wms' %}
  <div>{{ map_config['wms.attribution']|safe }}</div>
{% else %}
  {% if map_config.type == 'mapbox' %}
    <div>{{ _('Tiles by') }} <a href="http://www.mapbox.com/about/maps/">MapBox</a></div>
  {% else %}
    <div>{{ _('Tiles by') }} &copy; <a href="https://www.stadiamaps.com/" target="_blank">Stadia Maps</a>
      &copy; <a href="https://stamen.com/" target="_blank">Stamen Design</a>
      &copy; <a href="https://openmaptiles.org/" target="_blank">OpenMapTiles</a>
      &copy; <a href="https://www.openstreetmap.org/about/" target="_blank">OpenStreetMap contributors</a>
    </div>
  {% endif %}
{% endif %}
