<section id="dataset-map" class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-medium icon-globe"></i>
    {{ _('Filter by location') }}
    <a href="{{ h.remove_url_param(['ext_bbox','ext_prev_extent', 'ext_location']) }}" class="action">{{ _('Clear') }}</a>
  </h2>
  <div class="dataset-map" data-module="spatial-query">
    <div id="dataset-map-container"></div>
  </div>
  <div id="dataset-map-attribution">
    <div>Map data CC-BY-SA by <a href="http://openstreetmap.org">OpenStreetMap</a></div>
    <div>Tiles by <a href="http://www.mapquest.com">MapQuest</a></div>
  </div>
</section>

{% resource 'ckanext-spatial/spatial_query' %}

