{#
Displays a map widget to define a spatial filter on the dataset search page sidebar

default_extent
  Initial map extent (Optional, defaults to the whole world). It can be defined
  either as a pair of coordinates or as a GeoJSON bounding box.

e.g.
  {% snippet "spatial/snippets/spatial_query.html", default_extent=[[15.62, -139.21], [64.92, -61.87]] %}

  {% snippet "spatial/snippets/spatial_query.html", default_extent="{ \"type\": \"Polygon\", \"coordinates\": [[[74.89, 29.39],[74.89, 38.45], [60.50, 38.45], [60.50, 29.39], [74.89, 29.39]]]}" %}

#}
<section id="dataset-map" class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-medium icon-globe"></i>
    {{ _('Location') }}
    <a id="dataset-map-clear" href="{{ h.remove_url_param(['ext_bbox','ext_prev_extent', 'ext_location']) }}" class="action">{{ _('Clear map') }}</a>
  </h2>
  <ul class="unstyled nav nav-simple nav-facet nav-dataset-map" id="dataset-map-nav">
    <li class="nav-item">
        <a href="#" class="show-map-link">{{ _('Select location extent') }}
          <i class="icon-remove-sign"></i>
        </a>
    </li>
  </ul>
  {% set map_config = h.get_common_map_config() %}
  <div class="dataset-map" data-module="spatial-query" data-default_extent="{{ default_extent }}" data-module-map_config="{{ h.dump_json(map_config) }}">
    <div id="dataset-map-container">
    </div>
    {% block extended_map_panel %}
      <div id="extended-map-panel">

        <div class="extended-map-show-form">
          {% block extended_map_form_switcher %}
          <a href="javascript:;" class="btn btn-primary">{{ _('Enter coordinates') }}</a>
          {% endblock %}
        </div>
        {% block extended_map_help %}
          <div class="extended-map-help">
            {% trans %}
              <ul>
                Select a location extent by:
                <li>Draving an extent box, or</li>
                <li>Enter the latitude and longitude coordinates.</li>
              </ul>
            {% endtrans %}
          </div>
        {% endblock %}
        {% block extended_map_form %}
          <div class="extended-map-form">
            <div class="coord-field">
              <label for="north-lat">{{ _('North latitude') }}</label>
              <input type="number" step="0.1" id="north-lat">
              <span class="span-input"></span>
            </div>

            <div class="coord-field pull-right">
              <label for="south-lat">{{ _('South latitude') }}</label>
              <input type="number" step="0.1" id="south-lat">
              <span class="span-input"></span>
            </div>

            <div class="coord-field">
              <label for="west-lat">{{ _('West longitude') }}</label>
              <input type="number" step="0.1" id="west-lng">
              <span class="span-input"></span>
            </div>

            <div class="coord-field pull-right">
              <label for="east-lat">{{ _('East longitude') }}</label>
              <input type="number" step="0.1" id="east-lng">
              <span class="span-input"></span>
            </div>
            <div class="extended-map-control">
              <a href="javascript:;" id="extended-map-update" class="btn btn-primary">{{ _('Update coordinates') }}</a>
              <a href="javascript:;" id="extended-map-reset" class="btn">{{ _('Reset coordinates to current map view') }}</a>
            </div>
          </div>
        {% endblock %}
      </div>
    {% endblock %}
  </div>
  <div id="dataset-map-attribution">
    {% snippet "spatial/snippets/map_attribution.html", map_config=map_config %}
  </div>
</section>

{% resource 'ckanext-spatial/spatial_query' %}

