.dataset-map {
    padding-bottom: 10px
}

#dataset-map-attribution{
    font-size: x-small;
}

.olControlAttribution {
    left: 5px;
    right: inherit;
    bottom: 3px !important;
}

#dataset-map-container div.olControlAttribution {
    font-size: 9px;
    font-family: helvetica,tahoma,verdana,sans-serif;
    line-height: 12px;
    left: 5px;
    bottom: 3px;
    color: #666;
}